<% include partials/header %>

<h1>This is the street foods page!</h1>

<% streetfoods.forEach(function(streetfood){ %>
    <div>
        <h4><%= streetfood.name %></h4>
        <img src="<%= streetfood.picture %>">
    </div>
<% }) %>

<% include partials/footer %>